<div class="comments">

 <div class="name">
 <h5>Name:</h5>
  <%= comment.commenter %>
</div>
<div class="comment">
 <h5>Comment:</h5>
  <%= comment.body %>

</div>
 
<div class="control"> 
  <%= link_to 'destroy comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</div>
</div>