<div class="content">
  <section class="new">
  <h1>Edit article</h1>
 
 <div class="newform"> <%= render 'form' %> </div>
  <div class="control">
  <%= link_to 'back', articles_path %>
</div>
  </section>
</div>